<%= render "shared/errors", obj: @article %>

<table class="attr">
  <tr>
    <th width="100">タイトル</th>
    <td><%= form.text_field :title, size: 20 %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= form.text_area :body, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th>掲載開始日時</th>
    <td><%= form.datetime_select :released_at,
              start_year: 2000, end_year: Time.now.year + 1,
              use_month_numbers: true %></td>
  </tr>
  <tr>
    <th>掲載終了日時</th>
    <td>
      <%= form.check_box :no_expiration %>
      <%= form.label "終了日時を設定しない" %><br />
      <%= form.datetime_select :expired_at,
              start_year: 2000, end_year: Time.now.year + 1,
              use_month_numbers: true %>
    </td>
  </tr>
</table>
